{#
/**
 * @file
 * Theme override to display a UMD Terp Events Paragraph.
 */
#}

{%
  set classes = [
    'events-bg',
    paragraph.field_ut_events_style.value ? paragraph.field_ut_events_style.value|clean_class,
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes).setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>

		{% block content %}
			{% if content.field_ut_events_title|field_value %}
				<h2 class="widget-heading h3">{{ content.field_ut_events_title|field_value }}</h2>
			{% else %}
				<h2 class="widget-heading h3">Events</h2>
			{% endif %}
			{% if ut_events_list[0] %}
				<div class="events">
					{% for evnt in ut_events_list %}
						<div class="event-wrap">
							<div class="event card">
								<div class="event-body">
									{% if evnt.multiDay %}
										<div class="event-date">Multi Day</div>
									{% else %}
										<div class="event-date">{{ evnt.startDate|date("F j, Y") }}</div>
									{% endif %}
									<h3 class="event-title">{{ evnt.title|raw }}</h3>
									<div class="event-time-location">
										{% if evnt.multiDay %}
											<span>{{ evnt.startDate|date("F j, Y") }}
												-
												{{ evnt.endDate|date("F j, Y") }}</span>
										{% else %}
											{% if evnt.allDay %}
												<span>All Day</span>
											{% else %}
												<span>{{ evnt.startDate|date("g:i a") }}
													-
													{{ evnt.endDate|date("g:i a") }}</span>
											{% endif %}
										{% endif %}
									</div>
									<a href="https://calendar.umd.edu/{{ evnt.slug }}" class="card-cta event-cta btn">View Event
										<span class="sr-only">{{ evnt.title|raw }}</span>
									</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="text-center">
					<p>Sorry, no upcoming UMD events available.</p>
				</div>
			{% endif %}
			<div class="text-center">
				{% if content.field_ut_events_link.0 %}
					{% include directory ~ '/templates/helpers/link.html.twig' with {'link': content.field_ut_events_link.0, 'classes': 'events-calendar-cta fancy-link' } %}
				{% endif %}
			</div>
			{{ content|without('field_ut_events_campus_location', 'field_ut_events_count', 'field_ut_events_campus_units', 'field_ut_events_location_type', 'field_ut_events_tags', 'field_ut_events_style', 'field_ut_events_title', 'field_ut_events_link') }}
		{% endblock %}

	</div>
{% endblock paragraph %}
