{#
/**
 * @file
 * Theme override to display a UMD Terp Image Paragraph.
 */
#}

{%
  set classes = [
    'image-bg',
    paragraph.field_ut_image_style.value ? paragraph.field_ut_image_style.value|clean_class,
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes).setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>
		{% block content %}
			<figure>
				<div class="image-media">
					<img src="{{ file_url(content.field_ut_image_image[0]['#media'].field_media_image.entity.uri.value | image_style('optimized')) }}" alt="{{ content.field_ut_image_image[0]['#media'].field_media_image.alt }}"/>
				</div>
				{% if content.field_ut_image_caption|field_value %}
					<figcaption>
						{{ content.field_ut_image_caption|field_value }}
					</figcaption>
				{% endif %}
			</figure>
		{% endblock %}
		{{ content|without('field_ut_image_caption', 'field_ut_image_image', 'field_ut_image_style') }}
	</div>
{% endblock paragraph %}

