{#
/**
 * @file
 * Theme override to display a UMD Terp News Paragraph.
 */
#}

{%
  set classes = [
    'card-group-bg',
    paragraph.field_ut_news_style.value ? paragraph.field_ut_news_style.value|clean_class,
  ]
%}

{% block paragraph %}
	<div{{attributes.addClass(classes).setAttribute('id','umd_terp_paragraph--'~paragraph.id())}}>
		{% block content %}
			{% if content.field_ut_news_title|field_value %}
				<h2 class="widget-heading h3">{{ content.field_ut_news_title|field_value }}</h2>
			{% else %}
				<h2 class="widget-heading h3">News</h2>
			{% endif %}
			{% if ut_news_list[0] %}
				<div class="card-group">
					{% for news in ut_news_list %}
						{% set photo = assets_path ~ '/img/Profiles_Photo_Placeholder.svg' %}
						{% set photo_alt = news.title %}
						{% if news.hero_image.0 %}
							{% set photo = news.hero_image.0.url_600_338 %}
							{% set photo_alt = news.hero_image.0.alt %}
						{% endif %}
						<div class="card-wrap card-wrap--3">
							<div class="card">
								<div class="card-img card-img-top">
									<img src="{{ photo }}" alt="{{ photo_alt }}">
								</div>
								<div class="card-body">
									{% if news.title %}
										<h2 class="card-title">{{ news.title|raw }}</h2>
									{% endif %}
									{% if news.summary %}
										<div class="card-text">{{ news.summary|raw }}</div>
									{% endif %}
									{% if news.slug %}
										{% spaceless %}
											<a href="https://today.umd.edu/articles/{{ news.slug }}-{{news.id}}" class="card-cta fancy-link">
												View Article
												<span class="sr-only">{{ news.title|raw }}</span>
											</a>
										{% endspaceless %}
									{% endif %}
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			{% else %}
				<div class="text-center">
					<p>Sorry, no news articles available.</p>
				</div>
			{% endif %}
			<div class="text-center mt-4">
				{% if content.field_ut_news_link.0 %}
					{% include directory ~ '/templates/helpers/link.html.twig' with {'link': content.field_ut_news_link.0, 'classes': 'card-group-cta fancy-link' } %}
				{% endif %}
			</div>
		{% endblock %}
		{{ content|without('field_ut_news_audience', 'field_ut_news_colleges_schools', 'field_ut_news_destination', 'field_ut_news_messaging_area', 'field_ut_news_priorities', 'field_ut_news_style', 'field_ut_news_title', 'field_ut_news_topics', 'field_ut_news_link') }}
	</div>
{% endblock paragraph %}
