{#
/**
 * @file
 * Theme override to display a UMD Terp Three column text Paragraph.
 */
#}

{% block paragraph %}
	<div{{attributes}}>
		{% block content %}
			{% if content.field_ut_text_3_columns_title|field_value %}
				<h2>{{ content.field_ut_text_3_columns_title|field_value }}</h2>
			{% endif %}
			<div class="container-fluid p-0 editor-content" id="umd_terp_paragraph--{{ paragraph.id() }}">
				<div class="row">
					<div class="col-800">
						{{ content.field_ut_text_3_columns_column_1|field_value }}
					</div>
					<div class="col-800">
						{{ content.field_ut_text_3_columns_column_2|field_value }}
					</div>
					<div class="col-800">
						{{ content.field_ut_text_3_columns_column_3|field_value }}
					</div>
				</div>
			</div>
		{% endblock %}
		{{ content|without('field_ut_text_3_columns_title', 'field_ut_text_3_columns_column_1', 'field_ut_text_3_columns_column_2', 'field_ut_text_3_columns_column_3') }}
	</div>
{% endblock paragraph %}
